# Project dependend
outputf32
outputi8
quantized_model.tflite
quantizied_model.cc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cscope and tags
*.cscope
*.diff
cscope.*
tags
TAGS

# Related to ESP-IDF
build
build_test
managed_components
sdkconfig
sdkconfig.old
dependencies.lock
*.old
*.s
.DS_Store
*.orig
*.swp
*.lock

# Related to python
yolov5/
*.pyc
__pycache__/
.python-version

